body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
  /* background-color: #111; */
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  font-family: inherit;
}
p {
  line-height: 1.5;
}
img {
  vertical-align: top;
}
.hidden {
  display: none;
}

:root {
  --blue: rgb(4, 63, 189);
  --red: rgb(214, 9, 9);
  --h2: 44px;
  --h3: 32px;
  --gray: #f8f8f8;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  color: #fff;
  z-index: 99;
  height: 100px;
  transition: all 0.25s ease;
}

.header .logo a {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
}
.header .logo a img {
  height: 50px;
  position: absolute;
  transition: all 0.25s ease;
}
.header .logo a .logo__img--dark {
  opacity: 0;
}

.header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  z-index: -1;
}
.header.on {
  color: #111;
}
.header.on:before {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.header.on .gnb .list > li .depth02 {
  margin-top: 20px;
}
.header.on .logo a .logo__img--dark {
  opacity: 1;
}
.header.on .logo a .logo__img--light {
  opacity: 0;
}

.gnb {
}
.gnb .list {
  display: flex;
}
/* a, span, em, input */
.gnb .list > li {
  position: relative;
}
.gnb .list > li > a {
  height: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  /* padding-left: 30px;
  padding-right: 30px; */
  padding: 0 30px;
  transition: color 0.25s ease-out;
}

.gnb .list > li:hover > a {
  color: #f00;
}
.gnb .list > li:hover .depth02 {
  /* display: block; */
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.gnb .list > li:hover .depth02:after {
  /* display: block; */
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.gnb .list > li .depth02 {
  color: #666;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  margin-top: 0px;
  border-radius: 10px;
  transform: translateY(30px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);

  /* display: none; */
}
.gnb .list > li .depth02:before {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -20px;
}
.gnb .list > li .depth02:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
  z-index: -1;
}

.gnb .list > li .depth02 li a {
  display: block;
  padding: 10px 0;
}
.gnb .list > li .depth02 li a:hover {
  color: #111;
}

.language {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
}
.language a {
  margin-left: 15px;
}
.language .active {
  color: var(--blue);
}

.btn-top {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 50px;
  bottom: 50px;
  background-color: var(--blue);
  color: #fff;
  border-radius: 10px;
  z-index: 99;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(500px);
  transition: all 0.25s ease 0.25s;
}

.footer {
  background-color: var(--blue);
  padding: 80px 0;
  color: #fff;
}
.footer .footer-logo {
  width: 200px;
}
.footer .footer-items {
  display: flex;
}
.footer .footer-items .footer__item {
  flex-grow: 1;
}
.footer .footer-items .footer__item:nth-child(2) {
  /* flex-grow: 2; */
}
.footer .footer-items .footer__item h2 {
  font-size: 20px;
}
.footer .footer-items .footer__item dl {
  display: flex;
  margin-bottom: 10px;
}
.footer .footer-items .footer__item dl dt {
  width: 70px;
}
.footer .footer-copyright {
  margin-top: 30px;
}

.btn-top.on {
  transform: translateY(0);
}
