<footer class="footer">
  <div class="container">
    <div class="footer-items">
      <div class="footer__item">
        <img src="../images/layout/logo-light.svg" alt="" class="footer-logo" />
      </div>
      <div class="footer__item">
        <h2>office</h2>
        <dl>
          <dt>본사</dt>
          <dd>울산광역시 남구 매암로28, 201호</dd>
        </dl>
        <dl>
          <dt>연구소</dt>
          <dd>서울특별시 강남구 테헤란로20길20, 3층</dd>
        </dl>
        <dl>
          <dt>공장</dt>
          <dd>서울특별시 성동구 광나루로 144, 707호</dd>
        </dl>
      </div>
      <div class="footer__item">
        <h2>Contact Us</h2>
        <dl>
          <dt>일반 문의</dt>
          <dd>contact@seadronix.com</dd>
        </dl>
      </div>
      <div class="footer__item">
        <h2>제품 문의하기</h2>
      </div>
    </div>
    <div class="footer-copyright">
      <p>ⓒ 2022 Seadronix Inc. All rights reserved.</p>
    </div>
  </div>
</footer>

<button class="btn-top">
  <span class="material-icons"> north </span>
</button>
<script>
  AOS.init({
    duration: 1000,
    delay: 500,
  });

  const swiper = new Swiper(".news-banner", {
    slidesPerView: 3,
    spaceBetween: 20,
    loop: true,
    // Navigation arrows
    navigation: {
      nextEl: ".news-banner .btn--next",
      prevEl: ".news-banner .btn--prev",
    },
  });

  const header = document.querySelector(".header");
  const btnTop = document.querySelector(".btn-top");
  btnTop.addEventListener("click", function () {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
  window.addEventListener("scroll", function (e) {
    console.log(window.scrollY);
    if (window.scrollY > 0) {
      header.classList.add("on");
      btnTop.classList.add("on");
    } else {
      header.classList.remove("on");
      btnTop.classList.remove("on");
    }
  });
  // window.addEventListener("click", function () {
  //   alert("너가 클릭했냐?");
  // });
</script>
</body>
</html>
