<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.daum/net" />
    <meta property="og:title" content="seadronix" />
    <meta property="og:site_name" content="seadronix" />
    <meta property="og:description" content="해양강국을 꿈꾸는 ~~~" />
    <meta property="og:image" content="../images/layout/main-overview-logo-1.jpg" />
    <title>seadronix</title>
    <link rel="shortcut icon" href="../images/layout/favicon.png" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- google 웹폰트 -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <!-- pretendard -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/aos.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/contents.css" />
    <script src="../js/aos.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">
        <a href="">
          <img src="../images/layout/logo-dark.svg" alt="" class="logo__img--dark" />
          <img src="../images/layout/logo-light.svg" alt="" class="logo__img--light" />
        </a>
      </h1>
      <nav class="gnb">
        <h2 class="hidden">global navigation</h2>
        <ul class="list">
          <li>
            <a href="">sompany</a>
            <ul class="depth02">
              <li><a href="/vision">vision</a></li>
              <li><a href="/search">leader ship</a></li>
              <li><a href="">partners</a></li>
              <li><a href="">history</a></li>
              <li><a href="">certificates</a></li>
              <li><a href="/location">location</a></li>
            </ul>
          </li>
          <li>
            <a href="">technology</a>
            <ul class="depth02">
              <li><a href="">overview</a></li>
              <li><a href="">ai</a></li>
              <li><a href="">sensor fusion</a></li>
              <li><a href="">publication</a></li>
              <li><a href="">patent</a></li>
            </ul>
          </li>
          <li><a href="">product</a></li>
          <li><a href="">press</a></li>
          <li><a href="">career</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </nav>
      <div class="language">
        <a href="" class="active">ko</a>
        <a href="">en</a>
      </div>
    </header>
    <!-- bem (block__element--modifier) -->