<%- include("./header.ejs") %>
<main class="main">
  <div class="sub-header" id="<%= subTitle %>">
    <div class="sub-contents__title">
      <h2 class="sub-title"><%= subTitle %></h2>
    </div>
  </div>
  <section class="contents-wrap">